{% load static %}

<section class="section-about-rest">
      <div class="container">
        <div class="container-about-text">
          <p class="text-about-rest">
            Мы работаем для того, чтобы любое мероприятие в Вашей жизни оставило
            только самые приятные впечатления. Деловая встреча, фуршет, юбилей,
            свадьба пройдут в благоприятной обстановке, с красивой сервировкой и
            безупречным обслуживанием. Мы предоставим нужное количество опытного
            персонала. Только профессиональные повара и внимательные официанты.
            Мы контролируем весь процесс, и прорабатываем каждую деталь, чтобы
            все присутствующие получили массу положительных эмоции от нашей
            организации.
          </p>
          <p class="text-about-rest">
            У нас всегда есть хороший план для проведения самых масштабных
            мероприятий. Заказывая кейтеринг у нас, вы не разочаруетесь, и
            впредь обязательно станете нашими постоянными клиентами. У нас
            всегда есть хороший план для проведения самых масштабных
            мероприятий. Заказывая кейтеринг у нас, вы не разочаруетесь, и
            впредь обязательно станете нашими постоянными клиентами.
          </p>
          <button class="btn-angles btn-effect-border draw">
            <span class="top-width"></span>
            <span class="bottom-width"></span>Заказать кейтеринг
          </button>
        </div>
      </div>
</section>