{% load static %}

<div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="img-slider" src="{% static 'news/img/carousel/img-1.png' %}" alt="image" />
          <div class="wr-contekst">
            <h2 class="title-slider-item special-bg">
              <span class="top-width"></span>
              <span class="bottom-width"></span>
              Обслуживание мероприятий на высоком уровне
            </h2>
            <a href="/category/2" class="btn-angles btn-effect-border draw">
              <span class="top-width"></span>
              <span class="bottom-width"></span>Меню банкета
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <img class="img-slider" src="{% static 'news/img/carousel/img-2.png' %}" alt="image"/>
          <div class="wr-contekst">
            <h2 class="title-slider-item">
              <span class="top-width"></span>
              <span class="bottom-width"></span>
              Торты на заказ любой сложности
            </h2>
            <a href="/category/6" class="btn-angles btn-effect-border draw">
              <span class="top-width"></span>
              <span class="bottom-width"></span>Выбрать торт
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <img class="img-slider" src="{% static 'news/img/carousel/img-3.png' %}" alt="image" />
          <div class="wr-contekst">
            <h2 class="title-slider-item">
              <span class="top-width"></span>
              <span class="bottom-width"></span>
              Быстрая доставка обедов в Минске
            </h2>
            <a href="/category/6" class="btn-angles btn-effect-border draw">
              <span class="top-width"></span>
              <span class="bottom-width"></span>Меню корпоративного питания
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <img class="img-slider" src="{% static 'news/img/carousel/1.jpg' %}" alt="image" />
          <div class="wr-contekst">
            <h2 class="title-slider-item">
              <span class="top-width"></span>
              <span class="bottom-width"></span>
              Свадебные торжества на высоком уровне
            </h2>
            <a href="/category/5" class="btn-angles btn-effect-border draw">
              <span class="top-width"></span>
              <span class="bottom-width"></span>Меню свадьбы
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-pagination pagination-absolute"></div>
</div>