{% load static %}

<nav class="menu__body">
    <ul class="menu__list">
        <li>
            <a href="#" class="menu__link">О нас</a>
        </li>
        <li>
            <a href="category/" class="menu__link">Меню</a>
        </li>
        <li>
            <a href="#" class="menu__link">Площадки</a>
        </li>
        <li>
            <a href="#" class="menu__link">Проекты</a>
        </li>
            <li>
            <a href="#" class="menu__link">Новости</a>
        </li>
        <li>
            <a href="#" class="menu__link">Контакты</a>
        </li>
    </ul>
</nav>